{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Tickets Asignados a Mi Nombre (Supervisor)</h2>

    {% if tickets_asignados %}
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID Ticket</th>
                    <th>Nombre</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Descripción del Cambio</th>
                </tr>
            </thead>
            <tbody>
                {% for h in tickets_asignados %}
                <tr>
                    <td>{{ h.ticket.idTicket }}</td>
                    <td>{{ h.ticket.nombreTicket }}</td>
                    <td>{{ h.ticket.cliente.user.get_full_name }}</td>
                    <td>{{ h.estado.nombreEstado }}</td>
                    <td>{{ h.fecha_modificacion }}</td>
                    <td>{{ h.modDescripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">No hay tickets asignados a tu nombre.</p>
    {% endif %}
</div>
{% endblock %}
